* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

nav, footer {
    background-color: rgb(124, 116, 116);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 60px;
    padding: 4% 0;
}

 nav .home-link {
    font-size: 40px;
    margin-left: 4%;
}

nav .nav-links {
    margin-right: 4%;
}

li {
    list-style: none;
}

header {
    padding: 25% 4%;
}

header > p {
    text-align: left;
}

header .welcome {
    font-size: 40px;
}

footer {
    padding: 1% 0;
}

section {
    min-height: 200px;
    background-color: darkgrey;
    padding: 30% 0;
}