* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #094346;
}

main {
    display: flex;
    flex-direction: column;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 1.85;
    color: #c0c0c0;
}

nav, footer { 
    font-family: 'Anton', sans-serif;
    background-color: #c0c0c0;
    margin: 0 3%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 75px;
    border-radius: 0 0 15px 15px;
}

nav a:link, footer a:link, nav a:visited, footer a:visited {
    text-decoration: none;
    color: #094346;
}

nav a:hover, footer a:hover, nav a:focus, footer a:focus {
    text-decoration: underline;
}

 nav > .home-link {
    font-size: 24px;
    letter-spacing: 1px;
    margin-left: 4%;
}

.nav-links > .link {
    list-style: none;
    letter-spacing: 2px;
    display: inline-block;
}

.work, .social {
    opacity: 0;
}

nav > .nav-links {
    margin-right: 4%;
}

.social-links > li {
    list-style: none;
    letter-spacing: 2px;
}

header {
    margin: 165px 6% 100px;
}

header > p {
    text-align: left;
    font-size: 16px;
    letter-spacing: 1px;
}

header .welcome {
    font-family: 'Alegreya', serif;
    font-size: 45px;
    color: #ff8614;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

header > img {
    display: none;
}

footer {
    padding: 1% 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.first-project {
    min-height: 200px;
    margin: 0 6% 75px;;
}

.first-project img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

.first-project > p {
    font-size: 16px;
    letter-spacing: 1px;
}

.first-project > .title {
    margin-bottom: 10px;
    color: #ff8614;
    font-family: 'Alegreya', serif;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    font-size: 18px;
}

.first-project > .description {
    text-align: left;
    font-size: 14px;
    margin-bottom: 15px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.first-project > .project-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
}

.project-links a:link, .project-links a:visited {
    text-decoration: none;
    color: silver;
}

.project-links a:hover, .project-links a:focus {
    text-decoration: underline;
}

.project-links > .live {
    margin-right: 10%;
}

.project-links > li {
    list-style: none;
}

@media screen and (min-width: 700px) {
    nav .home-link {
        font-size: 27px;
    }

    .nav-links > .link {
        opacity: 100;
    }

    .work, .social {
        margin-right: 65px;
    }

    .nav-links, .social-links {
        font-size: 18px;
    }

    .first-project {
        margin-bottom: 90px;
    }

    .first-project > .title {
        font-size: 20px;
    }

    .first-project > .project-links {
        font-size: 18px;
    }
}

@media screen and (min-width: 1000px) {
    nav .home-link {
        font-size: 30px;
    }

    .nav-links, .social-links {
        font-size: 21px;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 4%;
        margin-right: 4%;
    }

    header .welcome {
        font-size: 50px;
    }

    header > p {
        width: 40%;
        font-size: 18px;
        display: inline-block;
        margin-right: 10%;
        margin-top: 10%;
    }

    header > img {
        display: inline-block;
    }

    .first-project {
        margin-bottom: 110px;
    }

    .first-project > .title {
        font-size: 24px;
    }

    .first-project > .description {
        margin-bottom: 15px;
        font-size: 16px;
    }

    .first-project > .project-links {
        font-size: 21px;
    }

    .project-links > .live {
        margin-right: 8%;
    }

    footer {
        padding: 0.5% 0;
    }
}